In [ ]:
### To Subtract 2 numbers 
1st assign data into string\
input a number

In [43]:
a=2
b=10
c=b-a
c

8

In [ ]:
## or

In [44]:
num1=input('first number:')

first number:10

In [45]:
#back slash is given to come to next line
num2=input('\nSecond number:')

Second number:2

In [46]:
#string converting to float
sub=float(num1)-float(num2)
sub

8.0

In [47]:
#to convert float into string format we give .format
#here inside the curly brackets we give the index numbers of each code

print('the subracted value of {0} and {1} is {2}' .format(num1,num2,sub))

the subracted value of 10 and 2 is 8.0